.filme-info {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 8px;
}

.filme-info h1 {
  margin: 14px 0;
}

.filme-info img {
  max-height: 340px;
  width: 800px;
  max-width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.filme-info h3 {
  margin-top: 14px;
}

.filme-info span {
  margin: 8px 0;
}

.area-buttons button {
  margin: 14px 12px 0 0;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.area-buttons button a {
  text-decoration: none;
  color: #000000;
  transition: all 0.5s;
}

.area-buttons button:hover {
  background-color: #a52a2a;
  color: #ffffff;
}

.area-buttons button a:hover {
  color: #ffffff;
}
